<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shorty</title>
</head>
<style>
    @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
    body {
        font-family: "Inter", sans-serif;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        background-image: url(https://4kwallpapers.com/images/walls/thumbs/8324.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .div1 {
        background-color: rgba(192, 191, 191, 0.418);
        padding: 10px;
        margin-bottom: 37%;
        margin-right: 80%;
        border: 1px solid rgb(90, 90, 90);
        border-radius: 5px;
    }
    
    .div2 {
        width: 30%;
        height: max-content;
        position: fixed;
        margin-left: 0.5em;
        background-color: rgba(192, 191, 191, 0.418);
        padding: 2em 2em 2em 2em;
        border: 1px solid rgb(90, 90, 90);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }
    
    .div3 {
        display: flex;
        width: 100%;
        align-items: center;
    }
    
    h1 {
        color: white;
        font-family: 'Times New Roman', Times, serif;
        margin-top: 0;
    }
    
    input {
        border: 2px solid gray;
        height: max-content;
        width: 100%;
        font-size: 20px;
        color: aqua;
        background-color: transparent;
        padding: 0.5em 0.5em 0.5em 0.5em;
        border-left: 0;
        border-right: 0;
        border-top: 0;
        border-width: 2px;
        border-color: rgba(199, 199, 199, 0.808);
        border-radius: 0.2em;
    }
    
    button {
        margin-left: 10px;
        font-size: 23px;
        border: none;
        background-color: transparent;
    }
    
    @media screen and (max-width: 600px) {
        .div1 {
            padding: 10px;
            margin-bottom: 100%;
            margin-right: 60%;
        }
        .div2 {
            width: 72%;
            margin-left: 0.1em;
            padding: 1em 1em 1em 1em;
        }
        .div3 {
            display: flex;
            width: 100%;
            align-items: center;
        }
        h1 {
            font-size: 28px;
        }
        input {
            font-size: 18px;
            padding: 0.5em 0.5em 0.5em 0.5em;
        }
        button {
            margin-left: 10px;
            font-size: 20px;
        }
    }
</style>

<body>

    <div class="div1">
        <a style="
        color: white;
        text-decoration: none;
        " href="/">
            << Back</a>
    </div>

    <div class="div2">
        <h1>Shortned URL :</h1>
        <% if(link) { %>
            <div class="div3">
                <input type="text" value="http://shortyy.tech/<%=link%>" id="shortLink" readonly />
                <button onclick="copy()" alt="Copy">&#128279;</button>
            </div>
            <% } else { %>
                <div>Shorten a URL first</div>
                <% } %>
    </div>
</body>
<script>
    function copy() {
        var copyText = document.getElementById("shortLink");

        copyText.select();
        copyText.setSelectionRange(0, 99999);

        navigator.clipboard.writeText(copyText.value);

        alert("Copied : " + copyText.value);
    }
</script>

</html>