<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shorty</title>
  </head>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
    body {
      font-family: "Inter", sans-serif;
    }
    input {
      border: 2px solid gray;
    }
    input:focus {
      border: 0 none;
    }
  </style>
  <body
    style="
      height: 100vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;
    "
  >
    <div>
      <h1>Shortned url : </h1>
      <% if(link) { %>
      <a href=`http://localhost:5000/${link}`>
        https://localhost:5000/<%=link%>
    </a>
      <% } else { %>
      <div>Shorten a URL first</div>
      <% } %>
    </div>
  </body>
</html>
